{% extends "user_account/base.html" %}
{% load static %}
{% block title %}Password Changed{% endblock %}

{% block main %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
        <div class="card-body text-center">
            <div class="mb-4">
                <img src="{% static 'icons/success-check.svg' %}" alt="Success" width="80">
            </div>
            <h3 class="card-title text-success">{{username}} Successfully Reset Password</h3>
            <p class="card-text text-muted mt-3 mb-4">
                Your password has been reset successfully. You can now continue using your account.
            </p>
            <a href="{% url 'user_account:home' %}" class="btn btn-primary w-100">
                Go to Homepage
            </a>
        </div>
    </div>
</div>
{% endblock %}
