{% extends 'user_account/base.html' %}
{% load static %}
{% block title %}Verify Email{% endblock %}
{% block main %}
<div class="container-md px-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="py-3 px-5">
            <div class="card" style="width: 25rem;">
                <img src="{% static 'user_account/images/verify_email.png'%}" class="card-img-top" alt="verify email pic" style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Email Verification</h5>
                    <h6 class="text-center mb-3">Hello, <span class="text-primary">{{ username }}</span>!</h6>
                    <p class="text-center">
                        Please check your inbox at <strong>{{ email }}</strong> and click the activation link we sent you to complete your registration.
                    </p>
                    
                    <div class="alert alert-warning text-center mt-3">
                        <strong>Note:</strong> If you don’t see the email in your inbox, check your spam or junk folder.
                    </div>
                    <div class="text-center mt-4">
                        <a href="{% url 'user_account:home' %}" class="btn btn-outline-primary">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}